/* categories商品分類 */
.categories_food {
    /* margin-left: 50px; */
    /* margin-top: 20px; */
    position: fixed;
    float: left;
    top: 120px;
}


.categories_food>p {
    font-size: 40px;
    text-align: center;
    width: 250px;
    height: 50px;
    margin: 0px;
}

.categoriesUl_food {
    border-style: dotted;
    border-color: #C07F00;
    width: 250px;
    line-height: 60px;
}

.categoriesUl_food>li a {
    text-decoration: none;
    font-size: 34px;
    line-height: 50px;
    color: #3C3C3C;
}

.categoriesUl_food>li a:hover {
    color: #C69F6B;
}

/* 手機板 隱藏商品分類 */
@media screen and (max-width: 768px) {
    .categories_food {
        display: none;
        width: 380px;
        margin: 0px;
    }
}


/* 圖片區塊 */
.image_food {
    width: 450px;
    line-height: 100px;
    margin-left: 500px;
    margin-right: 70px;
    margin-top: 50px;
    display: inline-block;
    vertical-align: top;
    /* background-color: aqua; */
}

/* 圖片 */
.image_food>a img {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .image_food {
        display: block;
        margin: 0px;
        width: 380px;
        height: 380px;
    }

    .image_food>a img {
        width: 380px;
        height: 380px;
        margin: 0;
        /* margin: auto; */
    }
}


/* 商品介紹 */
.commodityall_food {
    display: inline-block;
    vertical-align: top;
}

.commodity_food {
    width: 700px;
    margin-top: 50px;
}

/* 商品名稱 */
.commodity_food p:first-child {
    font-size: 36px;
}

/* 價格 */
.commodity_food p:nth-child(2) {
    font-size: 34px;
}

/* 注意事項 */
.commodity_food p:nth-child(3) {
    font-size: 32px;
}

/* 商品介紹 */
.commodity_food ul>li:first-child {
    list-style: none;
}

.commodity_food ul li {
    font-size: 32px;
}

/* 提醒字樣 */
.commodity_food p:last-child {
    font-size: 30px;
    color: #3C3C3C;
    text-align: center;
    padding-left: 10px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .commodityall_food {
        width: 300px;
        display: block;
        margin-top: 20px;
    }

    .commodity_food {
        width: 300px;
        line-height: 40px;
    }

    .commodity_food p:first-child {
        width: 250px;
        font-size: 26px;
        padding-left: 10px;
    }

    .commodity_food p:nth-child(2) {
        width: 250px;
        font-size: 24px;
        padding-left: 10px;
    }

    .commodity_food p:nth-child(3) {
        width: 250px;
        font-size: 24px;
        padding-left: 10px;
    }

    .commodity_food ul {
        padding: 0 30px 0 30px;
        text-align: justify;
        width: 300px;
        height: 300px;
    }

    .commodity_food ul li {
        font-size: 18px;
    }

    .commodity_food p:last-child {
        width: 300px;
        font-size: 16px;
        color: #3C3C3C;
        margin: 0;
    }

}


/* 數量按鈕css */
#myform_food {
    font-size: 34px;
    width: 600px;
    margin-top: 30px;
}

/* 字體 */
#myform_food,
.qty,
.qtyminus,
.qtyplus,
.reserve {
    font-size: 34px;
    text-align: center;
}

.qty {
    width: 50px;
    height: 36px;
    text-align: center;
    border: 0;
    background-color: #FFFFFF;
}

input.qtyplus,
input.qtyminus {
    width: 40px;
    height: 36px;
    border: 1px solid #DBAF74;
    background: #DBAF74;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 5px;
}

/* 預約按鈕 */
.reserve {
    margin-left: 20px;
    background-color: #5E9B44;
    border: #5E9B44;
    color: #FFFFFF;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-size: 30px;
}

.myform_food>p {
    font-size: 32px;
    margin-top: 20px;
    margin-left: 75px;
    color: #FC0707;
}

#background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#div1 {
    background: #eeeeee;
    width: 400px;
    height: 200px;
    z-index: 1;
    /* margin-top: 100%; */
    margin: 10% auto;
    overflow: auto;
    border-radius: 10px;
}

#close {
    padding: 10px;
    background: #dbaf74 !important;
    height: 40px;
}

#close-button {
    float: right;
    font-size: 40px;
    color: white;
    cursor: pointer;
    margin-right: 0px;

    background: #dbaf74 !important;
}

#close>p {
    font-size: 36px;
    color: white;
}

#div2>h1 {
    margin-top: 10%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #myform_food {
        width: 300px;
        margin-top: 30px;
    }

    #myform_food,
    .qty,
    .qtyminus,
    .qtyplus,
    .reserve {
        font-size: 24px;
        text-align: center;
    }

    .reserve {
        width: 60px;
        height: 40px;
    }

    .myform_food>p {
        font-size: 20px;
        color: #FC0707;
        padding-left: 20px;
    }
}

/* 商品資訊 */
.food_information {
    width: 65%;
    height: 700px;
    margin-left: 500px;
    line-height: 60px;
    margin-bottom: 100px;
    /* background-color: blue; */
}


.food_information>p {
    font-size: 36px;
}

.image_f {
    width: 700px;
    height: 700px;
    margin-left: 200px;
}


@media screen and (max-width: 768px) {
    .information_food {
        width: 380px;
        height: 550px;
        display: block;
        margin-top: 30px;
        margin-left: 0px;
        line-height: 40px;
    }

    .information_food>ul {
        margin: 0px;
        margin-right: 10px;
        text-align: justify;
    }

    .information_food>p {
        font-size: 22px;
        padding-left: 10px;
    }

    .information_food ul li {
        font-size: 16px;
        margin: 0px;
    }
}

/* 經常一起購買 */
.informationImg_food {
    width: 65%;
    height: 350px;
    margin-left: 500px;
    margin-bottom: 150px;
}

.informationImg_food>p {
    font-size: 32px;
    margin-bottom: 50px;
}

.informationImg_food>div {
    margin-left: 100px;
}

.container_food {
    position: relative;
    float: left;
    width: 350px;
    /* height: 350px; */
    border: solid 2px #DBAF74;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.cimage_food {
    display: block;
    width: 350px;
    height: auto;
    background-color: white;
    border-radius: 10px;
}

.overlay_food {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #DBAF74;
}

.container_food:hover .overlay_food {
    opacity: 1;
}

.imgtext_food {
    color: white;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
    background-color: #DBAF74;
}

.imgtext_food>p {
    background-color: #DBAF74;
}

@media screen and (max-width: 768px) {
    .informationImg_food {
        width: 250px;
        display: block;
        margin-top: 30px;
        margin-left: 0px;
    }

    .informationImg_food>p {
        font-size: 20px;
        padding-left: 10px;
        width: 250px;
    }

    .informationImg_food>div {
        margin-left: 0px;
    }

    .container_food {
        /* position: relative; */
        display: block;
        width: 250px;
        margin-left: 15px;
        margin-top: 10px;
    }

    .cimage_food {
        width: 250px;
        height: 250px;
    }

    .imgtext_food {
        width: 250px;
    }

    .imgtext_food>p {
        font-size: 18px;
    }
}

/* categories_min 商品分類 */
.categories_min_food {
    display: none;
}

.categories_min_food>p {
    font-size: 24px;
    width: 250px;
    margin-left: 20px;
}

.categoriesUl_min_food {
    width: 300px;
    height: 250px;
    line-height: 38px;
    align-items: center;
}

.categoriesUl_min_food>li a {
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    color: #3C3C3C;
}

.categoriesUl_min_food>li a:hover {
    color: #C69F6B;
}


@media screen and (max-width: 768px) {
    .categories_min_food {
        display: block;
        width: 250px;
    }
}