.orderdiv {
    width: 1500px;
    margin: 5% auto;
    border: #BD903D 2px solid;
    border-radius: 10px;

}

.orderdivA{
   padding:0 130px;
   
}

.ordertitle>p {
    font-size: 48px;
    background-color: #BD903D;
    color: #FFFFFF;
}

.detailsTable {
    font-size: 36px;
    width: 700px;
    text-align: center;
    /* background-color: chocolate; */
}

.detailsTableA{
    margin-top: 80px;
    /* background-color: chocolate; */
}
.detailsTableA>tr {
    font-size: 36px;
    width: 700px;
    text-align: left;
    height: 70px;
}


.order_table{
    height: 200px;
    border-collapse:collapse;
}

.info_td {
    width: 300px;
    text-align: center;
    align-items: center;
    font-size: 28px;
    white-space: nowrap;
    table-layout: auto;
}

.info_tdA {
    width: 500px;
    text-align: left;
    align-items: center;
    font-size: 28px;
    white-space: nowrap;
    table-layout: auto;
    /* background-color: blue; */
}

.info_td p {
    font-size: 28px;
}

.order_bn span {
    font-size: 28px;
}

.order_word {
    font-size: 24px;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    width: 400px;
    background-color: #ffffff;
    /* color: white; */
}

.detailsTable {
    margin-top: 60px;
    display: block;
    overflow-x: auto;
    table-layout: auto;
}

.order_bn {
    border: 0;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    font-size: 30px;
    background-color: #5E9B44;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 20px;
}

.order_bnA {
    width: 200px;
    height: 50px;
    align-items: center;
    background-color: #5E9B44;
    font-size: 28px;
    border-radius: 10px;
    border: #5E9B44 1px;
    color:  #FFFFFF;

}
.order_bnB {
    width: 200px;
    height: 60px;
    align-items: center;
    background-color: #5E9B44;
    font-size: 30px;
    border-radius: 10px;
    border: #5E9B44 1px;
    color:  #FFFFFF;
}

.order_bnB {
    width: 200px;
    height: 60px;
    align-items: center;
    background-color: #5E9B44;
    font-size: 30px;
    border-radius: 10px;
    border: #5E9B44 1px;
    color:  #FFFFFF;
    /* margin-bottom: 10px; */
}


.detailsTableB{
    margin-top: 30px;
    border-collapse:collapse;
}

.detailsTableB>tr {
    font-size: 36px;
    width: 1000px;
    text-align: left;
    height: 70px;
}

.order_wordA {
    font-size: 24px;
    border: 1px solid black;
    width: 800px;
    background-color: #ffffff;
    padding-left: 20px;
 
}

.order_wordA>input{
    height: 40px;
    margin: 5px;
    font-size: 30px;
    width: 150px;
}

.orderdivB{
    width: 200px;
    margin:6% auto;
}