.all {
    text-align: center;
}

.title {
    font-size: 38px;
    font-weight: bold;
}

.step {
    font-size: 34px;
    color: #DBAF74;
    text-align: left;
}

.second_all {
    width: 1000px;
    height: auto;
    text-align: center;
    margin-left: 100px;
    border-radius: 0 0 10px 10px;
    display: inline-block;
}

.inside_title {
    font-size: 32px;
    padding-top: 10px;
    height: 60px;
    background-color: #5E9B44;
    border-radius: 10px 10px 0 0 ;
}

.inside_word {
    font-size: 30px;
    text-align: left;
    padding-left: 80px;
    border-left: 1px solid #5E9B44;
    border-right: 1px solid #5E9B44;
    border-bottom: 1px solid #5E9B44;
    border-radius: 0 0 10px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img {
    width: 200px;
    height: 240px;
    display: inline-block;
    margin-left: 200px;
    margin-top: 20px;
}