.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

<<<<<<< HEAD


#qqq {
    /* background-color: aqua; */
    width: 20%;
=======
.good {
    flex-basis: calc(33.3% - 10px);
    margin: 0;
}

#qqq {
    
    width: 20%;
    
>>>>>>> refs/remotes/origin/main
}

.row {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
<<<<<<< HEAD

=======
>>>>>>> refs/remotes/origin/main

#right {
    display: flex;
    justify-content: flex-end;
}