.slotoutdiv{
     overflow:hidden;
  
}
.slotdiv{
    width: 400px;
    height: 600px;
    position: relative;
    box-sizing: border-box;
   
    
}



.slotimg{
    object-fit:cover;
    position: absolute;
    box-sizing: border-box;
    height: 600px;
    width: 1200px;
    left: 300px;
    overflow:hidden;
}
.slotimg1{
    clip: rect(0, 400px, 600px, 0px);
  
}

.slotimg2{
    clip: rect(0, 800px, 600px, 400px);

}
.slotimg3{
    clip: rect(0, 1200px, 600px, 800px);
   
}

.slotimgpos0{
    top:0px
}
.slotimgpos1{
    top:-600px
}
.slotimgpos2{
    top:-1200px
}
.slotimgpos3{
    top:-1800px
}
.slotimgpos4{
    top:-2400px
}
.slotimgpos5{
    top:-3000px
}
.slotimgpos6{
    top:-3600px
}
.slotimgpos7{
    top:-4200px
}
.slotimgpos8{
    top:-4800px
}
.slotimgpos9{
    top:-5400px
}

.isplay0 {
    animation: resultPlay 1s  linear;
  }
.isplay1 {
    animation: resultPlay 2s  linear;
  }
.isplay2 {
    animation: resultPlay 4s  linear;
  }



  
  @keyframes resultPlay {
    100% {
      transform: translateY(300%)
    }
  }
 