.slotoutdiv{
     overflow:hidden;
     height: 800px;
     background-color:#D4C19F ;
     
    }
    .slotdiv{
  
    width: 400px;
    height: 600px;
    position: relative;
    box-sizing: border-box;  
     
}

.slotbtn{
  position: absolute;
  right: 10%;
  top :50%;
  width: 150px;
  height: 150px;
  clip-path: circle(50% at 50% 50%);
  color: #FFFFFF;
  background-color: #5E9B44;
  font-size:50px ;
  border: none;
  
}

.slotborder{
  position: relative;
  left:300px ;
  bottom:  10px;
  width: 1200px;
  overflow:hidden;
border-radius: 20px ;
margin-top: 100px;
}

.slotimg{
    object-fit:cover;
    position: absolute;
    box-sizing: border-box;
    height: 600px;
    width: 1200px;
    
    overflow:hidden;
}
.slotimg1{
    clip: rect(0, 400px, 600px, 0px);
  
}

.slotimg2{
    clip: rect(0, 800px, 600px, 400px);

}
.slotimg3{
    clip: rect(0, 1200px, 600px, 800px);
   
}
.isplayleft{
   animation-timing-function:linear;
    animation-duration:1s;
}
.isplaymid{
  animation-timing-function:linear;
  animation-duration:3s;
}
.isplayright{
  animation-timing-function:linear;
  animation-duration:4s;
}



.isplay0 { 
    animation-name:resultPlay0  ;
  }
.isplay1 {
  animation-name:resultPlay1  ;
  }
.isplay2 {
  animation-name:resultPlay2  ;
  }




  
  @keyframes resultPlay0 {
    100% {
      transform: translateY(300%)
    }
  }

 
  @keyframes resultPlay1 {
    50% {
      transform: translateY(300%)
    }
    100% {
      transform: translateY(400%)
    }
  }
  @keyframes resultPlay2 {
    30% {
      transform: translateY(300%)
    }
    100% {
      transform: translateY(500%)
    }
  }
 